<div fxLayout="row wrap" fxLayout.lt-md="column" >
  <div class="user-card">
  <!-- Columna 1 -->
  <div fxFlex.gt-sm="50" fxFlex.lt-md="100">
    <div class="profile-info">
      <div class="info-item">
        <strong>Usuario:</strong> {{usuario}}
      </div>
      <div class="info-item">
        <strong>Nombre Completo:</strong> falta completar {{usuario}}
      </div>
      <div class="info-item">
        <strong>Empresa:</strong> {{empresa}}
      </div>
      <div class="info-item">
        <strong>Número de Empleado:</strong> {{numeroDeEmpleado}}
      </div>
    </div>
  </div>

  <!-- Columna 2 -->
  <div fxFlex.gt-sm="50" fxFlex.lt-md="100">
    <div class="profile-info">
      <div class="info-item">
        <strong>Otro Campo 1:</strong> Valor 1
      </div>
      <div class="info-item">
        <strong>Otro Campo 2:</strong> Valor 2
      </div>
      <div class="info-item">
        <strong>Otro Campo 3:</strong> Valor 3
      </div>
      <div class="info-item">
        <strong>Otro Campo 4:</strong> Valor 4
      </div>
    </div>
  </div>
  </div>
</div>
