

<!-- user-info.component.html -->

<div fxLayout="column" fxLayoutAlign="center center">
  <div class="user-card">
    <h2>Informacion del usuario</h2>
    <div class="user-details">
      <!-- <img src="assets/user-avatar.jpg" alt="User Avatar" class="avatar"> -->
      <div class="user-info">
        <p><strong>Numero de Empleado:</strong> 11122</p>
        <p><strong>Usuario:</strong> john.doe@example.com</p>
        <p><strong>Fecha de ingreso:</strong> 11/10/2023</p>
        <p><strong>Jefe:</strong> Martin</p>
      </div>
    </div>
  </div>
</div>




