
<mat-card class="home-card">
  <mat-card-header>
    <mat-card-title>Bienvenido a Rhnet {{usuario}} </mat-card-title>
    <mat-card-subtitle>Donde puedes encontrar información increíble</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="h" alt="Imagen de bienvenida"> -->
  <mat-card-content>
    <p>Bienvenido a nuestra página. Aquí encontrarás contenido emocionante y útil.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Explora</button>
  </mat-card-actions>
</mat-card>
