
.login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94.5vh; /* O la altura deseada */
  background-color: #3386FF !important;

}

.login-container {
  width: 100%;
  max-width: 700px; /* Ajusta el ancho máximo según tu diseño */
  background-color: white; /* Fondo blanco */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 20px; /* Espacio interno */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
