<p>dialog works!</p>


<form [formGroup]="datosPase" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field>
    <!-- <label for="username">Usuario:</label>
    <input type="text" id="username" formControlName="username"> -->
    <mat-label>Fecha</mat-label>
    <input matInput placeholder="12/10/2023" formControlName="fecha" required>
    <!-- <mat-error *ngIf="datosPase.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
    <mat-label>Tipo</mat-label>
    <input matInput placeholder="Salida" formControlName="tipo" required>
    <!-- <mat-error *ngIf="datosPase.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

  </div>
  <div class="form-group">
    <mat-form-field>
    <mat-label>Hora</mat-label>
    <input matInput placeholder="01:29 P.M" formControlName="hora" required>
    <!-- <mat-error *ngIf="datosPase.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

  </div>

  <button mat-raised-button color="primary" type="submit">Guardar</button>

</form>
